name: Go
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get dependencies
        run: task deps

      - name: Install dependencies
        run: task setup

      - name: Build
        run: task build

      - name: Build examples
        run: task build-examples

      - name: Test
        run: task test
